.react-flow__node {
  font-family: Roboto;
  font-size: 12px;
  background-color: white;
  width: 500px;
  max-width: 500px;
  min-height: 115px;
  border: solid;
  border-width: 1px;
  border-color: rgba(75, 82, 95, 0.5);
  border-radius: 10px 10px;
}
.react-flow__handle{
  min-height: 10px;
  min-width: 10px;
  max-height: 10px;
  max-width: 10px;
}
.react-flow__node-start {
  color: white;
  background-color: green;
  width: 40px;
  min-height: 40px;
}
.react-flow__node-extension {
  font-size: 12px;
  background-color: rgb(0, 150, 255,0.3);
  width: 500px;
  max-width: 500px;
}
.react-flow__node-ivrMenu {
  font-size: 12px;
  background-color: white;
  width: 500px;
  max-width: 500px;
}
.react-flow__node-condition {
  font-size: 12px;
  background-color: rgba(251, 223, 7, 0.3);
  width: 500px;
  max-width: 500px;
}
.react-flow__node-action {
  font-size: 12px;
  background-color: rgb(91, 179, 24,0.3);
  width: 500px;
  max-width: 500px;
}
.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #09ff00;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}
