:root {
  --react-flow-backgroundcolor: white;
}
.container {
  margin: 0px;
  height: 100%;
  position: absolute;
}

.react-flow__renderer {
  background-color: var(--react-flow-backgroundcolor);
}

.edge_delete_button {
  color: #e74c3c;
  background-color: var(--react-flow-backgroundcolor);
}

.default_node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 9px;
  border: 2px solid;
  min-height: 125px;
  max-height: 125px;
}

.red_left_handle {
  width: 10px;
  height: 10px;
  border: none 10px;
  background: #e74c3c;
  border-radius: 3px;
}

.red_right_handle {
  width: 10px;
  height: 10px;
  border: none;
  background: #e74c3c;
  border-radius: 3px;
}

.green_right_handle {
  width: 10px;
  height: 10px;
  border: none;
  background: #2ecc71;
  border-radius: 3px;
}

.react-flow__edge-path {
  stroke: black;
}
.react-flow__edge.selected > .react-flow__edge-path {
  stroke: red;
}

.react-flow__node.selected::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  z-index: -1;
  -webkit-animation-name: yellow-shadow;
  animation-name: yellow-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.react-flow__node.selected::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  z-index: -1;
  -webkit-animation-name: cyan-shadow;
  animation-name: cyan-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.right_handles_wrapper {
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.react-flow__node-ivrMenu {
  width: 500px;
  max-width: 500px;
}

.dndflow .selectall {
  margin-top: 10px;
}

.right_handles_wrapper {
  right: 0;
  top: 0;
  display: flex;
  position: absolute;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

@-webkit-keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@-webkit-keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
    box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  }
  20% {
    -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
    box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  }
  40% {
    -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
    box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  }
  60% {
    -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
    box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  }
  80% {
    -webkit-box-shadow: 0 0 5px 3px #f00, 0 0 4px 2px #f00;
    box-shadow: 0 0 5px 3px #f00, 0 0 4px 2px #f00;
  }
  100% {
    -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
    box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  }
}

@keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
    box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  }
  20% {
    -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
    box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  }
  40% {
    -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
    box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  }
  60% {
    -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
    box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  }
  80% {
    -webkit-box-shadow: 0 0 5px 3px #f00, 0 0 4px 2px #f00;
    box-shadow: 0 0 5px 3px #f00, 0 0 4px 2px #f00;
  }
  100% {
    -webkit-box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
    box-shadow: 0 0 5px 3px #e74c3c, 0 0 4px 2px #e74c3c;
  }
}
