.dndflow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.react-flow__renderer {
  background-color: #ecf0f1;
}

.react-flow__edge-path {
  color: white;
  background-color: white;
}
.react-flow__node.selected {
}

.react-flow__node-extension {
  background-color: #ecf0f1;
  border-radius: 9px;
  border: 2px solid;
  border-color: #3498db;
}

.react-flow__node-singleCondition {
  background-color: #ecf0f1;
  border-radius: 9px;
  border: 2px solid;
  border-color: #f1c40f;
}

.react-flow__node-action {
  background-color: #ecf0f1;
  border-radius: 9px;
  border: 2px solid;
  border-color: #2ecc71;
}

.react-flow__node-start {
  background-color: transparent;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: none;
}

.react-flow__node-ivrMenu {
  width: 500px;
  max-width: 500px;
}

.react-flow__handle-left {
  border: none;
  background-color: #c0392b;
  width: 6px;
  height: 12px;
  transform: translate(-4px, 7px);
  border-radius: 10rem 0 0 10rem;
}

.react-flow__handle-right {
  position: relative;
  top: auto;
  border: none;
  width: 6px;
  height: 12px;
  background: #c0392b;
  transform: translate(4px, 0px);
  border-radius: 0 10rem 10rem 0;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #09ff00;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .selectall {
  margin-top: 10px;
}

.right_handles_wrapper {
  right: 0;
  top: 0;
  display: flex;
  position: absolute;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}
